body{
    position: relative;
}
.markabs{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}
.mark{
    display: flex;
    justify-content: end;
}
#x{
    font-size: 30px;
    margin-right: 60px;
    margin-top: 60px;
}
#x:hover{
    cursor: pointer;
}
.demoabs{
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
}
.demo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.demoh{
    font-size: 50px;
    height: 25px;
}
.demop{
    font-size: 18px;
    text-align: center;
}
.ok{
    width: 190px;
    height: 50px;
    background-color: blue;
}
.ok{
    color: white;
    border: 1px solid black;
}
.ok:hover{
    cursor: pointer;
}
@media screen and (max-width: 316px) {
    #x{
        font-size: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
    .demoabs{
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
    }
    .demoh{
        font-size: 40px;
        height: 25px;
    }
    .demop{
        font-size: 18px;
        margin-left: 5px;
        text-align: center;
    }
}
